<ion-header class="ion-no-border" lines="none">
  <ion-toolbar mode="md" class="ion-no-border" color="violeta">  
    
    <!--Logo de la Aplicacion y los Iconos-->
    <div class="main-header-top">
      <h1 style="font-size: 26px; font-weight: 400; margin-left: 12px; color: azure; margin-top: -5px;">
        Trocadero<span style="font-size: 34px; font-weight: 600;">s</span>hop
      </h1>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="mis-compras">
    <h1 class="ion-text-center">
      No hay Compras <br> en la Lista
    </h1>
  </div>
</ion-content>
