<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mainstore">
      <ion-icon name="home" class="icon-large" color="violeta"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="wishlist">
      <ion-icon name="bag-check" class="icon-large" color="violeta"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="mycart">
      <ion-icon name="cart" class="icon-large" color="violeta"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="editprofile">
      <ion-icon name="person" class="icon-large" color="violeta"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
