

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="space"></div>
  <div class="space"></div>
  
  <!--Logo de la Aplicacion-->
  <h1 class="ion-text-center texto-60" 
    style="font-weight: 800; font-size: 32px;">
    Trocadero<span style="font-size: 52px; color: #7209b7;">S</span>hop
  </h1>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <p class="ion-text-center">
    La tienda de compra y venta de productos de pequeños <br>Empresarios en Colombia
  </p>

  
  <!--Iniciar sesion-->
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <ion-button routerLink="/signin" expand="block" color="violeta">Iniciar Sesion</ion-button>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <h3 class="ion-text-center" style="font-size: 14px;" routerLink="/signup">Registrate</h3>

  
</ion-content>
